*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Segoe UI", sans-serif;
}

nav {
    background-color: rgb(171, 183, 197);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(255, 68, 0, 0);
}

nav ul li a:hover {
    color: #0A2647;
    border-bottom: 1px solid #0A2647;
}

main {
    padding: 40px;
}

#content {
    line-height: 30px;
    float: left;
    width: 75%;
    padding-right: 20px;
}

aside {
    float: right;
    width: 25%;
    /* padding-left: 20px; */
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
}

.logo-cuciin {
    width: 80px;
    height: 30px;
}

main {
    margin-top: 20px;
}

.menu-icon {
    width: 26px;
    height: 26px;
    display: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.cover-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.packages .container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 90px;
}

.btn-order {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: #0A2647;
    border: solid #0A2647;
    border-radius: 10px;
}

.btn-order h3{
    text-align: center;
}

.btn-order:hover {
    cursor: pointer;
}

.package-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.package-section .card-package {
    flex: 1;
    margin: 20px 20px;
    border: 2px solid #0A2647;
    border-radius: 12px;
    text-align: center;
    padding: 26px;
}

.card-package p {
    text-align: center;
}

.price {
    background-color: #0A2647;
    color: aliceblue;
    border-radius: 15px;
}

iframe {
    width: 100%;
    padding: 20px 0;
}

.profile {
    line-height: 40px;
    margin-bottom: 20px;
}

figure {
    text-align: center;
    padding: 20px;
}

.profile .bio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {
    display: grid;
    justify-content: center;
    align-content: end;
    padding: 50px;
    position: relative;
    color: rgb(0, 0, 0);
    background-color: rgb(171, 183, 197);
    width: 100%;
}

footer .container {
    background-color: #ffffff;
    padding: 50px 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

footer .container .sec h2 {
    position: relative;
    margin-bottom: 14px;
    font-weight: 600;
}

footer .container .sec a {
    color: #000000;
}

.icon {
    width: 20px;
    height: 20px;
}

footer .container .sec .icon-footer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .container .contact-footer .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .quicklinks {
    position: relative;
}

footer .container .quicklinks ul li a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

footer .copyright-text {
    width: 100%;
    background-color: #ffffff;
    padding: 10px 100px 30px;
    border: 1px solid #9a9a9a;
}

footer .copyright-text p {
    text-align: center;
}

@media only screen and (max-width: 991px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    footer {
        padding: 40px;
    }

    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

@media only screen and (max-width: 768px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }

    header {
        display: inline;
    }

    nav {
        flex-wrap: wrap;
        position: fixed;
        width: 100%;
        top: 0;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li:last-of-type {
        padding-bottom: 8px;
    }

    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    .package-section {
        flex-direction: column;
    }

    .bio .bio-left,
    .bio .bio-right {
        justify-content: center;
        align-items: center;
    }

    footer .container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}